<%- include("partials/header"); -%>
    <h1>About this project</h1>
    <p> <%= aboutContent %> </p>
    <img src="/img/1.png" alt="html">
    <img src="/img/2.png" alt="css">
    <img src="/img/6.png" alt="bootstrap">
    <img src="/img/3.png" alt="node">
    <img src="/img/4.png" alt="express">
    <img src="/img/5.png" alt="mongodb">
<%- include("partials/footer"); -%>
